{% extends 'index.html' %}

{% block content %}
    <h1>Completa el siguiente formulario</h1>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Nombre</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Jorgito">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Apellido</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Perez">
</div>
    <div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Fecha de nacimiento</label>
  <input type="date" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
</div>
    <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
{% endblock %}